.app-background {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  background-image:url("./assets/solitaire-background.jpg")
}